<!-- [ navigation menu ] start -->
<nav class="pcoded-navbar menupos-fixed menu-light ">
    <div class="navbar-wrapper  ">
        <div class="navbar-content scroll-div ">
            <ul class="nav pcoded-inner-navbar ">
                <li class="nav-item">
                    <a href="{% url 'admin_home' %}" class="nav-link ">
                        <span class="pcoded-micon">
							<i class="ri-home-3-line"></i></span><span class="pcoded-mtext">Home</span></a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'upload_pdf' %}" class="nav-link ">
                        <span class="pcoded-micon">
							<i class="fas fa-file-upload"></i></span><span class="pcoded-mtext">upload pdf</span></a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'UserList' %}" class="nav-link ">
                        <span class="pcoded-micon">
							<i class="fas fa-users"></i></span><span class="pcoded-mtext">Users</span></a>
                </li>
               
        

                <li class="nav-item">
                    <a href="{% url 'admin_Handlelogout' %}" class="nav-link "><span class="pcoded-micon">
						   <i class="feather icon-log-out"></i></span><span class="pcoded-mtext">Logout</span></a>
                </li>


            </ul>


        </div>

    </div>
    </div>
</nav>
<!-- [ navigation menu ] end -->